
.about-contact-hero {
  position: relative;
  max-height: 700px;
  overflow: hidden;
}

.about-contact-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-contact-hero .img {
  width: 100%;
  height: auto;
}

.about-contact-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}

.pageSpan {
  color: #0dcaf0;
}
form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-shadow {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6), 
              0 5px 5px -5px rgba(0, 0, 0, 0.3),
              0 5px 5px -5px rgba(0, 0, 0, 0.3),
              0 -5px 5px -5px rgba(0, 0, 0, 0.3),
              0 -5px 5px -5px rgba(0, 0, 0, 0.3);
}


form label {
  font-weight: bold;
}

form input,
form textarea {
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
}
.half-text {
  
 
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  background-color: #0dcaf0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 70%; */
  /* height: 50%;  */
}


::placeholder{color: #0dcaf0 !important;}

@media screen and (max-width: 700px) {
    
  .about-contact-tex {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    height: 100vh;
    text-transform: uppercase;
  }
  .about-contact-hero .img{
    height: 100vh;
  }
  .about-contact-hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .about-contact-text > p{
    font-size: 1rem;
    text-align: left;
    font-size: .8rem;
    margin-right: 0 !important;
    margin-left: 0 !important;

  }
  .about-contact-text > h1{
    font-size: 1rem;
}
} 