@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');


body{
  overflow: hidden;
  font-family: 'Newsreader', serif;
}
.logo {
  width: 12rem;
}
/* carousel text */
h3{
color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

nav a.nav-link {
  color: whitesmoke;
}

.header_info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header_info h1 {
  color: whitesmoke;
  text-transform: uppercase;
  margin-top: 20%;
}

.button {
  background-color: red !important;
}

/* carousel */
.img-fluid{
  width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption,h3{
  top: 50%;
    transform: translateY(-50%);
}

.navbar-toggler-icon{
  color: red !important;
}
.navbar-toggler{
  background-image: unset;
}